<div class="room-details-form-container">
  <nz-form
    nz-layout="vertical"
    [formGroup]="roomDetailsForm"
    class="room-details-form"
  >
    <h2>Enter Room Details</h2>
    <nz-form-item>
      <nz-form-control [nzSpan]="16" [nzOffset]="4">
        <input nz-input formControlName="name" placeHolder="Nombre" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzSpan]="16" [nzOffset]="4">
        <input nz-input formControlName="type" placeHolder="Tipo" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzSpan]="16" [nzOffset]="4">
        <input nz-input formControlName="price" placeHolder="Precio" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="11" [nzOffset]="4">
        <button nz-button nzType="primary" type="submit" (click)="submitForm()">
          Guardar
        </button>
      </nz-form-label>
    </nz-form-item>
  </nz-form>
</div>
