<div class="center-form">
  <h1 class="page-title">Reservations</h1>
  <nz-table #basicTable [nzShowPagination]="'false'" [nzData]="reservations">
    <thead>
      <tr>
        <th>Habitacion</th>
        <th>Tipo</th>
        <th>Check In</th>
        <th>Check Out</th>
        <th>Precio</th>
        <th>Usuario</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of basicTable.data">
        <td>{{ reservation.roomName }}</td>
        <td>{{ reservation.roomType }}</td>
        <td>{{ reservation.checkInDate }}</td>
        <td>{{ reservation.checkOutDate }}</td>
        <td>{{ reservation.price }}</td>
        <td>{{ reservation.userName }}</td>
        <td>
          <ng-container *ngIf="reservation.reservationStatus === 'PENDING'">
            <nz-tag nzColor="processing">
              <span nz-icon nzType="sync" nzSpin></span>
              <span>Pendiente</span>
            </nz-tag>
          </ng-container>
          <ng-container *ngIf="reservation.reservationStatus === 'APPROVED'">
            <nz-tag nzColor="success">
              <span nz-icon nzType="check-circle" nzSpin></span>
              <span>Aprovado</span>
            </nz-tag>
          </ng-container>
          <ng-container *ngIf="reservation.reservationStatus === 'REJECTED'">
            <nz-tag nzColor="error">
              <span nz-icon nzType="close-circle" nzSpin></span>
              <span>Rechazado</span>
            </nz-tag>
          </ng-container>
        </td>
        <td>
          <span *ngIf="reservation.reservationStatus === 'PENDING'">
            <span
              nz-icon
              [nzType]="'check-circle'"
              [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#52c41a'"
              class="icon"
              (click)="changeReservationStatus(reservation.id, 'Approve')"
            ></span>
            <span
              nz-icon
              nzType="close-circle"
              [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#FF0000'"
              class="icon"
              (click)="changeReservationStatus(reservation.id, 'Rejected')"
            ></span>
          </span>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <div class="pagination">
    <nz-pagination
      (nzPageIndexChange)="pageIndexChange($event)"
      [nzPageIndex]="currentPage"
      [nzTotal]="total"
      [nzPageSize]="5"
    ></nz-pagination>
  </div>
</div>
