<div class="room-details-form-container">
  <nz-form
    nz-layout="vertical"
    [formGroup]="updateRoomForm"
    class="room-details-form"
  >
    <h2>Actualizar detalles de habitacion</h2>
    <nz-form-item>
      <nz-form-control [nzSpan]="16" [nzOffset]="4">
        <input nz-input formControlName="name" placeHolder="Nombre" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzSpan]="16" [nzOffset]="4">
        <input nz-input formControlName="type" placeHolder="Tipo" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzSpan]="16" [nzOffset]="4">
        <input nz-input formControlName="price" placeHolder="Precio" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="11" [nzOffset]="4">
        <button nz-button nzType="primary" type="submit" (click)="submitForm()">
          Actualizar
        </button>
      </nz-form-label>
    </nz-form-item>
  </nz-form>
</div>
